*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content__list {
  position: relative;
  height: 300px;
  overflow: auto;
}

.content__details {
  flex-grow: 1;
  height: 100%;
}

.content__details .title {
  color: #545050;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  /* 70.5px */
  text-transform: uppercase;
  padding-bottom: 25px;
}

.content__details .title .content__accent {
  color: #FFF;
}

.result__video-container {
  position: relative;
  width: 710px;
  height: 385px;
  margin-bottom: 18px;
}

.result__video {
  width: 100%;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 200px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #FFF;

  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__card-link {
  display: block;
  text-decoration: none;
  text-decoration-color: #FFF;
}

.content__video-card-title {
  color: #FFF;

  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 30px */
  text-transform: uppercase;
  margin-bottom: 5px;
}

.content__video-card-description {
  color: #FFF;

  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  /* 90% */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  color: #FFF;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 225px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-right: none;
  border-left: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}

.search-form__pseudo-checkbox {
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin-right: 5px;
  margin-left: 3px;
}

.button {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #FFF;
  background-color: transparent;

  height: 34px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border: 1px solid #FFF;
}

.search-form__checkbox:active+.search-form__pseudo-checkbox {
  background-color: #FFF;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.content__card-link {
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
  cursor: pointer;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}


.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}